<a href="https://colab.research.google.com/github/omargr299/cloud_computing/blob/main/laboratorio1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic maths

---

In [ ]:
3 + 7

10

In [ ]:
10 / 4

2.5

In [ ]:
2 ** 1024

179769313486231590772930519078902473361797697894230657273430081157732675805500963132708477322407536021120113879871393357658789768814416622492847430639474124377767893424865485276302219601246094119453082952085005768838150682342462881473913110540827237163350510684586298239947245938479716304835356329624224137216

# Factorial

---

In [ ]:
from math import factorial

In [ ]:
factorial(5)

120

# Name and namesapces

---

In [ ]:
n = 3  # integer number

In [ ]:
address = "221b Baker Street, NW1 6XE, London"  # Sherlock Holmes'

In [ ]:
employee = {
    'age': 45,
    'role': 'CTO',
    'SSN': 'AB1234567',
}

In [ ]:
n, address, employee

(3,
 '221b Baker Street, NW1 6XE, London',
 {'age': 45, 'role': 'CTO', 'SSN': 'AB1234567'})

In [ ]:
try:
    print(another_name)
except NameError:
    print("NameError: name 'another_name' is not defined")

NameError: name 'another_name' is not defined

# Scopes


---

scope 1

In [ ]:
# scopes1.py
# Local versus Global
# we define a function, called local
def local():

    m = 7

    print(m)

In [ ]:
# we define m within the global scope
m = 5
# we call, or `execute` the function local
local()
print(m)

7
5

Scope 2

In [ ]:
# scopes2.py
# Local versus Global
def local():
    # m doesn't belong to the scope defined by the local function
    # so Python will keep looking into the next enclosing scope.
    # m is finally found in the global scope
    print(m, 'printing from the local scope')

In [ ]:
m = 5
print(m, 'printing from the global scope')
local()

5 printing from the global scope
5 printing from the local scope

Scope 3

In [ ]:
# scopes3.py
# Local, Enclosing and Global
def enclosing_func():
    m = 13

In [ ]:
def local():
    # m doesn't belong to the scope defined by the local
    # function so Python will keep looking into the next
    # enclosing scope. This time m is found in the enclosing
    # scope
    print(m, 'printing from the local scope')

In [ ]:
# calling the function local
try:
    local()
except Exception as e:
    print(e)
m = 5
print(m, 'printing from the global scope')
enclosing_func()

5 printing from the local scope
5 printing from the global scope

# Object and class

---

In [ ]:
# let's define the class Bike
class Bike:
    def __init__(self, colour, frame_material):
        self.colour = colour
        self.frame_material = frame_material

    def brake(self):
        print("Braking!")

In [ ]:
# let's create a couple of instances
red_bike = Bike('Red', 'Carbon fiber')
blue_bike = Bike('Blue', 'Steel')

In [ ]:
red_bike.colour,  red_bike.frame_material,  blue_bike.colour,  blue_bike.frame_material

('Red', 'Carbon fiber', 'Blue', 'Steel')

In [ ]:
red_bike.brake()

Braking!

# Python culture
---

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Mutable or immutable?
---

In [ ]:
age = 42

In [ ]:
age

42

In [ ]:
id(age)

139526911886864

In [ ]:
age = 43

In [ ]:
age

43

In [ ]:
id(age)

139526911886896

In [ ]:
class Person:
    def __init__(self, age):
      self.age = age

In [ ]:
fab = Person(age=42)

In [ ]:
fab.age

42

In [ ]:
id(fab)

139526483476336

In [ ]:
id(fab.age)

139526911886864

In [ ]:
fab.age = 25

In [ ]:
id(fab)

139526483476336

In [ ]:
id(fab.age)

139526911886320

# Numbers
---

integers

In [ ]:
a = 14

In [ ]:
b = 3

In [ ]:
a + b # addition

17

In [ ]:
a - b # subtraction

11

In [ ]:
a * b # multiplication

42

In [ ]:
a / b # true division

4.666666666666667

In [ ]:
a // b # integer division

4

In [ ]:
a % b # modulo operation (reminder of division)

2

In [ ]:
a ** b # power operation

2744

# Bytes
---

In [ ]:
bytearray()

bytearray(b'')

In [ ]:
bytearray(10)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [ ]:
bytearray(range(5))

bytearray(b'\x00\x01\x02\x03\x04')

In [ ]:
name = bytearray(b'Lina')

In [ ]:
name

bytearray(b'Lina')

In [ ]:
name.replace(b'L', b'l')

bytearray(b'lina')

In [ ]:
name.endswith(b'na')

True

#Dates and time
---

In [ ]:
from datetime import date, datetime, timedelta, timezone
import time
import calendar as cal
from zoneinfo import ZoneInfo

In [ ]:
today = date.today()
today

datetime.date(2023, 9, 12)

In [ ]:
today.ctime()

'Tue Sep 12 00:00:00 2023'

In [ ]:
today.isoformat()

'2023-09-12'

In [ ]:
today.weekday()

1

In [ ]:
cal.day_name[today.weekday()]

'Tuesday'

In [ ]:
today.day, today.month, today.year

(12, 9, 2023)

In [ ]:
today.timetuple()

time.struct_time(tm_year=2023, tm_mon=9, tm_mday=12, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=255, tm_isdst=-1)

In [ ]:
time.ctime()

'Tue Sep 12 19:40:44 2023'

In [ ]:
time.gmtime()

time.struct_time(tm_year=2023, tm_mon=9, tm_mday=12, tm_hour=19, tm_min=40, tm_sec=44, tm_wday=1, tm_yday=255, tm_isdst=0)

In [ ]:
time.gmtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [ ]:
time.localtime()

time.struct_time(tm_year=2023, tm_mon=9, tm_mday=12, tm_hour=19, tm_min=40, tm_sec=44, tm_wday=1, tm_yday=255, tm_isdst=0)

In [ ]:
time.time()

1694547644.6433678

In [ ]:
now = datetime.now()
utcnow = datetime.utcnow()
now, utcnow

(datetime.datetime(2023, 9, 12, 19, 40, 44, 656525),
 datetime.datetime(2023, 9, 12, 19, 40, 44, 656581))

In [ ]:
now.date()

datetime.date(2023, 9, 12)

In [ ]:
now.day, now.month, now.year

(12, 9, 2023)

In [ ]:
now.date() == date.today()

True

In [ ]:
now.time()

datetime.time(19, 40, 44, 656525)

In [ ]:
now.hour, now.minute, now.second, now.microsecond

(19, 40, 44, 656525)

In [ ]:
now.ctime()

'Tue Sep 12 19:40:44 2023'

In [ ]:
now.isoformat()

'2023-09-12T19:40:44.656525'

In [ ]:
now.timetuple()

time.struct_time(tm_year=2023, tm_mon=9, tm_mday=12, tm_hour=19, tm_min=40, tm_sec=44, tm_wday=1, tm_yday=255, tm_isdst=-1)

In [ ]:
now.tzinfo
utcnow.tzinfo
now.weekday()

1

In [ ]:
f_bday = datetime(
1975, 12, 29, 12, 50, tzinfo=ZoneInfo('Europe/Rome')
)
h_bday = datetime(
1981, 10, 7, 15, 30, 50, tzinfo=timezone(timedelta(hours=2))
)
diff = h_bday - f_bday
diff, type(diff)

(datetime.timedelta(days=2109, seconds=6050), datetime.timedelta)

In [ ]:
diff.days, diff.total_seconds()

(2109, 182223650.0)

In [ ]:
today + timedelta(days=49)

datetime.date(2023, 10, 31)

In [ ]:
now + timedelta(weeks=7)

datetime.datetime(2023, 10, 31, 19, 40, 44, 656525)

In [ ]:
datetime.fromisoformat('1977-11-24T19:30:13+01:00')

datetime.datetime(1977, 11, 24, 19, 30, 13, tzinfo=datetime.timezone(datetime.timedelta(seconds=3600)))

In [ ]:
datetime.fromtimestamp(time.time())

datetime.datetime(2023, 9, 12, 19, 40, 44, 966684)

# Third-party libraries
---
> * dateutil: Powerful extensions to datetime (https://dateutil.readthedocs.
io/en/stable/)
> * Arrow: Better dates and times for Python (https://arrow.readthedocs.io/
en/latest/)
> * pytz: World time zone definitions for Python (https://pythonhosted.org/
pytz/)

In [ ]:
!pip install arrow

Collecting arrow
  Downloading arrow-1.2.3-py3-none-any.whl (66 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.4/66.4 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7.0 in /usr/local/lib/python3.10/dist-packages (from arrow) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7.0->arrow) (1.16.0)
Installing collected packages: arrow
Successfully installed arrow-1.2.3

In [ ]:
import arrow

In [ ]:
arrow.utcnow()

In [ ]:
local = arrow.now('Europe/Rome')
local

In [ ]:
local.to('utc')

In [ ]:
local.to('Europe/Moscow')

In [ ]:
local.to('Asia/Tokyo')

In [ ]:
local.datetime

datetime.datetime(2023, 9, 12, 21, 40, 55, 952450, tzinfo=tzfile('/usr/share/zoneinfo/Europe/Rome'))

In [ ]:
local.isoformat()

'2023-09-12T21:40:55.952450+02:00'

# The collections module
---

## namedtuple

In [ ]:
vision = (9.5, 8.8)
vision

(9.5, 8.8)

In [ ]:
vision[0]

9.5

In [ ]:
vision[1]

8.8

In [ ]:
from collections import namedtuple

In [ ]:
Vision = namedtuple('Vision', ['left', 'right'])
vision = Vision(9.5, 8.8)
vision[0]

9.5

In [ ]:
vision.left

9.5

In [ ]:
vision.right

8.8

## defaultdict

In [ ]:
d = {}
d['age'] = d.get('age', 0) + 1 # age not there, we get 0 + 1
d

{'age': 1}

In [ ]:
d = {'age': 39}
d['age'] = d.get('age', 0) + 1 # age is there, we get 40
d

{'age': 40}

In [ ]:
from collections import defaultdict
dd = defaultdict(int) # int is the default type (0 the value)
dd

defaultdict(int, {})

In [ ]:
dd['age'] += 1 # short for dd['age'] = dd['age'] + 1
dd

defaultdict(int, {'age': 1})

## ChainMap

In [ ]:
from collections import ChainMap

In [ ]:
default_connection = {'host': 'localhost', 'port': 4567}
connection = {'port': 5678}
conn = ChainMap(connection, default_connection) # map creation
conn['port'],conn['host']

(5678, 'localhost')

In [ ]:
conn.maps

[{'port': 5678}, {'host': 'localhost', 'port': 4567}]

In [ ]:
conn['host'] = 'packtpub.com' # let's add host
conn.maps

[{'port': 5678, 'host': 'packtpub.com'}, {'host': 'localhost', 'port': 4567}]

In [ ]:
del conn['port'] # let's remove the port information
conn.maps

[{'host': 'packtpub.com'}, {'host': 'localhost', 'port': 4567}]

In [ ]:
conn['port']

4567

In [ ]:
dict(conn)

{'host': 'packtpub.com', 'port': 4567}

# Small value caching
---

In [ ]:
a = 1000000
b = 1000000
id(a) == id(b)

False

In [ ]:
a = 5
b = 5
id(a) == id(b)

True

# Itertools
---

##Infinite iterators

In [ ]:
from itertools import count

In [ ]:
for n in count(5, 3):
  if n > 20:
    break
  print(n, end=', ')

5, 8, 11, 14, 17, 20,

##Iterators terminating on the shortest input sequence

In [ ]:
from itertools import compress

In [ ]:
data = range(10)
even_selector = [1, 0] * 10
odd_selector = [0, 1] * 10

list(data), even_selector, odd_selector

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1])

In [ ]:
even_numbers = list(compress(data, even_selector))
odd_numbers = list(compress(data, odd_selector))

even_numbers, odd_numbers

([0, 2, 4, 6, 8], [1, 3, 5, 7, 9])

##Combinatoric generators

In [ ]:
from itertools import permutations

In [ ]:
print(list(permutations('ABC')))

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

# Function
---

## Improving readability

In [ ]:
a = [[1, 2], [3, 4]]
b = [[5, 1], [2, 1]]

In [ ]:
c = [[sum(i * j for i, j in zip(r, c)) for c in zip(*b)]
for r in a]
c

[[9, 3], [23, 7]]

In [ ]:
def matrix_mul(a, b):
  return [[sum(i * j for i, j in zip(r, c)) for c in zip(*b)]
  for r in a]

In [ ]:
c = matrix_mul(a, b)
c

[[9, 3], [23, 7]]

## Improving traceability

In [ ]:
price = 100 # GBP, no VAT
final_price1 = price * 1.2
final_price2 = price + price / 5.0
final_price3 = price * (100 + 20) / 100.0
final_price4 = price + price * 0.2

In [ ]:
final_price1, final_price2, final_price3, final_price4

(120.0, 120.0, 120.0, 120.0)

In [ ]:
def calculate_price_with_vat(price, vat):
  return price * (100 + vat) / 100

In [ ]:
calculate_price_with_vat(price,5)

105.0

##Scopes and name resolution

In [ ]:
def my_function():
  test = 1 # this is defined in the local scope of the function
  print('my_function:', test)

In [ ]:
test = 0 # this is defined in the global scope
my_function()
print('global:', test)

my_function: 1
global: 0

In [ ]:
def outer():
  test = 1 # outer scope

  def inner():
    test = 2 # inner scope
    print('inner:', test)

  inner()
  print('outer:', test)

test = 0 # global scope
outer()
print('global:', test)

inner: 2
outer: 1
global: 0

## The global and nonlocal statements

In [ ]:
def outer():
  test = 1 # outer scope

  def inner():
    nonlocal test
    test = 2 # nearest enclosing scope (which is 'outer')
    print('inner:', test)

  inner()
  print('outer:', test)

test = 0 # global scope
outer()
print('global:', test)

inner: 2
outer: 2
global: 0

In [ ]:
# scoping.level.2.global.py
def outer():
  test = 1 # outer scope

  def inner():
    global test
    test = 2 # global scope
    print('inner:', test)

  inner()
  print('outer:', test)

test = 0 # global scope
outer()
print('global:', test)

inner: 2
outer: 1
global: 2

## Assignment to parameter names

In [ ]:
x = 3
def func(x):
  x = 7 # defining a local x, not changing the global one
func(x)
print(x) # prints: 3

3

## Changing a mutable object

In [ ]:
x = [1, 2, 3]
def func(x):
  x[1] = 42 # this affects the 'x' argument!
func(x)
print(x) # prints: [1, 42, 3]

[1, 42, 3]

In [ ]:
def func(x):
  x[1] = 42 # this changes the original 'x' argument!
  x = 'something else' # this points x to a new string object
func(x)
print(x) # still prints: [1, 42, 3]

[1, 42, 3]

## Combining argument types

In [ ]:
def func(a, b, c, d, e, f):
  print(a, b, c, d, e, f)

In [ ]:
func(1, *(2, 3), f=6, *(4, 5))
func(*(1, 2), e=5, *(3, 4), f=6)
func(1, **{'b': 2, 'c': 3}, d=4, **{'e': 5, 'f': 6})
func(c=3, *(1, 2), **{'d': 4}, e=5, **{'f': 6})

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

## Positional-only parameters

In [ ]:
def func(a, b, /, c):
  print(a, b, c)

In [ ]:
func(1, 2, 3) # prints: 1 2 3
func(1, 2, c=3) # prints 1 2 3

1 2 3
1 2 3

In [ ]:
try:
  func(1, b=2, c=3)
except Exception as e:
  print(e)

func() got some positional-only arguments passed as keyword arguments: 'b'

## Keyword-only parameters

In [ ]:
def kwo(*a, c):
  print(a, c)

In [ ]:
def kwo2(a, b=42, *, c):
  print(a, b, c)

In [ ]:
kwo(1, 2, 3, c=7) # prints: (1, 2, 3) 7
kwo(c=4)

(1, 2, 3) 7
() 4

In [ ]:
kwo2(3, b=7, c=99) # prints: 3 7 99
kwo2(3, c=13) # prints: 3 42 13

3 7 99
3 42 13

In [ ]:
try:
  kwo2(3, 7, 13) # prints: 3 42 13
except Exception as e:
  print(e)

kwo2() takes from 1 to 2 positional arguments but 3 were given

##Avoid the trap! Mutable defaults

In [ ]:
def func(a=[], b={}):
  print(a)
  print(b)
  print('#' * 12)
  a.append(len(a)) # this will affect a's default value
  b[len(a)] = len(a)

In [ ]:
func()
func()
func()

[]
{}
############
[0]
{1: 1}
############
[0, 1]
{1: 1, 2: 2}
############

In [ ]:
func()
func(a=[1, 2, 3], b={'B': 1})
func()

[0, 1, 2]
{1: 1, 2: 2, 3: 3}
############
[1, 2, 3]
{'B': 1}
############
[0, 1, 2, 3]
{1: 1, 2: 2, 3: 3, 4: 4}
############

##Function attributes

In [ ]:
def multiplication(a, b=1):
  """Return a multiplied by b. """
  return a * b

if __name__ == "__main__":
  special_attributes = [
  "__doc__", "__name__", "__qualname__", "__module__",
  "__defaults__", "__code__", "__globals__", "__dict__",
  "__closure__", "__annotations__", "__kwdefaults__",
  ]
  for attribute in special_attributes:
    print(attribute, '->', getattr(multiplication, attribute))

__doc__ -> Return a multiplied by b.
__name__ -> multiplication
__qualname__ -> multiplication
__module__ -> __main__
__defaults__ -> (1,)
__code__ -> <code object multiplication at 0x7ee60873eb80, file "<ipython-input-147-a4d7d14d9b98>", line 1>

## Importing objects

In [ ]:
from datetime import datetime, timezone # two imports on the same line
from unittest.mock import patch # single import
import pytest # third party library
from time import (
    timezone,
    CLOCK_REALTIME,
  )

#Reading and writing to a file
---

In [ ]:
with open('print_example.txt', 'w') as fw:
  print('Hey I am printing into a file!!!', file=fw)

In [ ]:
with open('print_example.txt') as f:
  lines = [line.rstrip() for line in f]
lines

['Hey I am printing into a file!!!']

#Reading and writing in binary mode
---

In [ ]:
with open('example.bin', 'wb') as fw:
  fw.write(b'This is binary data...')

In [ ]:
with open('example.bin', 'rb') as f:
  print(f.read()) # prints: b'This is binary data...'

b'This is binary data...'

#Protecting against overwriting an existing file
---

In [ ]:
with open('write_x.txt', 'x') as fw: # this succeeds
  fw.write('Writing line 1')

In [ ]:
try:

  with open('write_x.txt', 'x') as fw: # this succeeds
    fw.write('Writing line 2')
except Exception as e:
  print(e)

[Errno 17] File exists: 'write_x.txt'

#Temporary files and directories
---

In [ ]:
from tempfile import NamedTemporaryFile, TemporaryDirectory

In [ ]:
with TemporaryDirectory(dir='.') as td:
  print('Temp directory:', td)
  with NamedTemporaryFile(dir=td) as t:
    name = t.name
    print(name)

Temp directory: ./tmp6sohqqvx
/content/tmp6sohqqvx/tmp8v0a1_zl

# File and directory compression
---

In [ ]:
from zipfile import ZipFile
import os

In [ ]:
with open('content1.txt','w') as f:
  f.write("hola soy content 1")

In [ ]:
with open('content2.txt','w') as f:
  f.write("hola soy content 2")

In [ ]:
os.mkdir('subfolder')
with open('subfolder/content3.txt','w') as f:
  f.write("hola soy content 3")

In [ ]:
with open('subfolder/content4.txt','w') as f:
  f.write("hola soy content 4")

In [ ]:
with ZipFile('example.zip', 'w') as zp:
  zp.write('content1.txt')
  zp.write('content2.txt')
  zp.write('subfolder/content3.txt')
  zp.write('subfolder/content4.txt')

In [ ]:
with ZipFile('example.zip') as zp:
  res1 = zp.extract('content1.txt', 'extract_zip')
  res2 = zp.extract('subfolder/content3.txt', 'extract_zip')
  print(res1, res2)

extract_zip/content1.txt extract_zip/subfolder/content3.txt

# Saving data to a database
---

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import (
Column, Integer, String, ForeignKey, create_engine)
from sqlalchemy.orm import relationship

In [ ]:
engine = create_engine('sqlite:///:memory:')
Base = declarative_base()

<ipython-input-169-df29a102f9ce>:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [ ]:
class Person(Base):
  __tablename__ = 'person'
  id = Column(Integer, primary_key=True)
  name = Column(String)
  age = Column(Integer)
  addresses = relationship(
    'Address',
    back_populates='person',
    order_by='Address.email',
    cascade='all, delete-orphan'
  )

  def __repr__(self):
    return f'{self.name}(id={self.id})'

In [ ]:
class Address(Base):
  __tablename__ = 'address'
  id = Column(Integer, primary_key=True)
  email = Column(String)
  person_id = Column(ForeignKey('person.id'))
  person = relationship('Person', back_populates='addresses')

  def __str__(self):
    return self.email

  __repr__ = __str__

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
from sqlalchemy.orm import sessionmaker

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
anakin = Person(name='Anakin Skywalker', age=32)
obi1 = Person(name='Obi-Wan Kenobi', age=40)

In [ ]:
obi1.addresses = [
  Address(email='obi1@example.com'),
  Address(email='wanwan@example.com'),
]

In [ ]:
anakin.addresses.append(Address(email='ani@example.com'))
anakin.addresses.append(Address(email='evil.dart@example.com'))
anakin.addresses.append(Address(email='vader@example.com'))

In [ ]:
session.add(anakin)
session.add(obi1)
session.commit()

In [ ]:
obi1 = session.query(Person).filter(
Person.name.like('Obi%')
).first()
print(obi1, obi1.addresses)

Obi-Wan Kenobi(id=2) [obi1@example.com, wanwan@example.com]

In [ ]:
anakin = session.query(Person).filter(
Person.name=='Anakin Skywalker'
).first()
print(anakin, anakin.addresses)

Anakin Skywalker(id=1) [ani@example.com, evil.dart@example.com, vader@example.com]

In [ ]:
def display_info():
  # get all addresses first
  addresses = session.query(Address).all()
  # display results
  for address in addresses:
    print(f'{address.person.name} <{address.email}>')
    # display how many objects we have in total
    print('people: {}, addresses: {}'.format(session.query(Person).count(), session.query(Address).count()))

In [ ]:
anakin_id = anakin.id
del anakin

In [ ]:
display_info()
anakin = session.query(Person).get(anakin_id)
session.delete(anakin)
session.commit()
display_info()

Anakin Skywalker <ani@example.com>
people: 2, addresses: 5
Anakin Skywalker <evil.dart@example.com>
people: 2, addresses: 5
Anakin Skywalker <vader@example.com>
people: 2, addresses: 5
Obi-Wan Kenobi <obi1@example.com>
people: 2, addresses: 5
Obi-Wan Kenobi <wanwan@example.com>
people: 2, addresses: 5
Obi-Wan Kenobi <obi1@example.com>
people: 1, addresses: 2
Obi-Wan Kenobi <wanwan@example.com>
people: 1, addresses: 2

<ipython-input-183-45cf9b20db57>:2: LegacyAPIWarning: The Query.get() method is considered legacy as of the 1.x series of SQLAlchemy and becomes a legacy construct in 2.0. The method is now available as Session.get() (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  anakin = session.query(Person).get(anakin_id)